
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';

}
body {
    #app {

        ul{
            list-style: none;
        }
        .main-title{
            text-align: center;
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 39px;

        }
        .main-router-btn{
            font-size: 24px;
            color: #A5A5B4 !important;
            margin: 0 40px;
            text-decoration: none;
            font-weight: 700;
        }
        .mainBtnRouterBtnActive{
            font-weight: 800 !important;
            color: #FFC700 !important;
        }
        .router-link-exact-active{
            font-weight: 800 !important;
            color: #FFC700 !important;
        }
        .add-user-input{
            width: 400px;
            height: 40px;
            border-color: 2px solid #FFC700;
            border-radius: 5px;
            padding: 0 10px;
        }
        .add-user-btn{
            height: 40px;
            padding: 0 25px;
            background-color: #FFC700;
            border-radius: 5px;
            border: none;
            font-size: 20px;
            color: black !important;
            margin-left: 30px;
        }
        .container {
            max-width: 1280px;
            margin: 0 auto;
            .doneTodo{
                border-color: #04d304 !important;
            }
            .todo-wrap{
                margin-bottom: 103px;
                .todo-group-title{
                    font-size: 24px;
                    color: #A5A5B4;
                    margin-bottom: 35px;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 600;
                }
                .todo-group-today-title{
                    color: #FFC700;
                    font-weight: 800;
                }
                .todo-group{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-gap: 22px;
                    
                    .todo-item{
                        border-radius: 15px;
                        background-color: #F0F0F0;
                        padding: 21px 28px 21px 50px;
                        position: relative;
                        border: 2px solid transparent;
                        transition: 200ms;
                        .todo-item-checkbox{
                            position: absolute;
                            left: 20px;
                            top: 30px;
                            width: 18px;
                            height: 18px;

                        }
                        .todo-item-title{
                            font-size: 20px;
                            font-weight: bold;
                            margin-bottom: 5px;
                            transition: 300ms;
                            text-transform: capitalize;
                        }
                        .todoItemTitleCompleted{
                            color: #0da90d;
                        }
                        .todo-item-desc{
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 19px;
                            margin-bottom: 12px;
                        }
                        .todo-item-today-left{
                            
                        }
                        .todo-item-left{
                            font-size: 16px;
                            font-weight: 600;
                            color: #FFC700;
                        }
                    }
                }
            }
        }
        #nav {
            text-align: center;
            padding: 30px;

            a {
                font-weight: bold;
                color: #2c3e50;
                .router-link-exact-active {
                    color: #42b983;
                }
            }
        }
    }
}
