<template>
  <div class="home">
    <div class="container">
      <button @click="CHANGE_ARR()">Hello</button>
      <button @click="SAY_HELLO()">Hello</button>
      <button @click="DELETE_SELECTED_USERS()">delete</button>
      <input type="text" placeholder="Add user" class="add-user-input" v-model="addUserValue">
      <button class="add-user-btn" @click="ADD_USER(this.addUserValue)">Add</button>


      <h1 class="main-title">ALL TODOS</h1>

      <div class="todo-wrap">
        <h1 class="todo-group-title todo-group-today-title">
          Today - {{ todayUser.length }}
        </h1>
        <div class="todo-group todo-today-group">
          <div
            @click="CHANGE_COMPLETED(item.id)"
            class="todo-item todo-today-item"
            v-for="item of todayUser"
            :key="item.id"
            :class="{ doneTodo: item.completed }"
          >
            <p
              class="todo-item-title"
              :class="{ todoItemTitleCompleted: item.completed }"
            >
              {{ item.title }}
            </p>
            <p class="todo-item-desc">{{ item.id }}</p>

            <p class="todo-item-left todo-item-today-left">
              Today - {{ item.completed }}
            </p>

            <input
              type="checkbox"
              v-model="item.completed"
              class="todo-item-checkbox todo-item-today-checkbox"
            />
          </div>
        </div>
      </div>

      <!--    TOMORROW     -->

      <div class="todo-wrap">
        <h1 class="todo-group-title todo-group-tmrw-title">Tomorrow - {{toworrowUser.length}}</h1>
        <div class="todo-group todo-tmrw-group">
          <div
            @click="CHANGE_COMPLETED(item.id)"
            class="todo-item todo-tmrw-item"
            v-for="item of toworrowUser"
            :class="{ doneTodo: item.completed }"
            :key="item.id"
          >
            <p
              class="todo-item-title"
              :class="{ todoItemTitleCompleted: item.completed }"
            >
              {{ item.title }}
            </p>
            <p class="todo-item-desc">{{ item.left }}</p>

            <p class="todo-item-left">Tomorrow</p>
            <input
              type="checkbox"
              v-model="item.completed"
              class="todo-item-checkbox todo-item-today-checkbox"
              @click="CHANGE_COMPLETED(item.id)"
            />
          </div>
        </div>
      </div>

      <!--    OtHer     -->

      <div class="todo-wrap">
        <h1 class="todo-group-title todo-group-other-title">Others - {{othersUser.length}}</h1>
        <div class="todo-group todo-other-group">
          <div
            class="todo-item todo-other-item"
            @click="CHANGE_COMPLETED(item.id)"
            v-for="item of othersUser"
            :key="item.id"
            :class="{ doneTodo: item.completed }"
          >
            <p
              class="todo-item-title"
              :class="{ todoItemTitleCompleted: item.completed }"
            >
              {{ item.title }}
            </p>
            <p class="todo-item-desc">{{ item.left }}</p>

            <p class="todo-item-left">{{ item.left }} days left</p>
            <input
              v-model="item.completed"
              type="checkbox"
              class="todo-item-checkbox todo-item-today-checkbox"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template> 

<script>
// @ is an alias to /src
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Home",
  data: () => {
    return{
      addUserValue: ''
    }
  },
  computed: {
    ...mapGetters([
      "arr",
      "usersArr",
      "todayUser",
      "toworrowUser",
      "othersUser",
      "dataArtem",
      "selectedUser",
      
    ]),
  },
  methods: {
    ...mapActions(["CHANGE_ARR","ADD_USER", "SAY_HELLO", "CHANGE_COMPLETED", "DELETE_SELECTED_USERS"]),
  },
};
</script>
