<template>
  <div class="today">
    <div class="container">
      <div class="todo-wrap">
        <h1 class="todo-group-title todo-group-today-title">
          Today - {{ todayUser.length }}
        </h1>
        <div class="todo-group todo-today-group">
          <div
            @click="CHANGE_COMPLETED(item.id)"
            class="todo-item todo-today-item"
            v-for="item of todayUser"
            :key="item.id"
            :class="{ doneTodo: item.completed }"
          >
            <p
              class="todo-item-title"
              :class="{ todoItemTitleCompleted: item.completed }"
            >
              {{ item.title }}
            </p>
            <p class="todo-item-desc">{{ item.id }}</p>

            <p class="todo-item-left todo-item-today-left">
              Today - {{ item.completed }}
            </p>

            <input
              type="checkbox"
              v-model="item.completed"
              class="todo-item-checkbox todo-item-today-checkbox"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  computed: {
    ...mapGetters(["todayUser"]),
  },
  methods: {
    ...mapActions(["CHANGE_COMPLETED"]),
  },
};
</script>

<style>
</style>