<template>
  <div id="app">
    <div id="nav">
      <router-link to="/" class="main-router-btn " >HOMEPAGE</router-link>
      <router-link  to="/today" class="main-router-btn">ONLY TODAY</router-link>
    </div>
    <router-view/>
  </div>
</template>

<script>
import '../css/index.css'
import '../css/groupStyles.css'
import '../public/fonts/stylesheet.css'

export default {
  data: () =>{
    return{
    }
  },
  methods: {
  }

}
</script>
